:root {
  --primary-color: rgb(207, 145, 31);
  --primary-transparent-color: rgba(207, 145, 31, 0.75);
}
section {
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 80vh;
}
p {
  margin: 15px;
}
body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  background-color: white;
  color: black;
}
header {
  position: relative;
  padding: 30px;
  background-image: url(https://res.cloudinary.com/hud9ala09/image/upload/c_limit,f_auto,g_center,h_630,w_1500/v1515626431/hhskilpx2ja7ljxxmsml.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.transparency-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: silver;
  z-index: 2;
  opacity: .5;
}
.linktotop {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  width: 50px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 10px 5px var(--primary-transparent-color);
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: none;
  border-radius: 50%;
  position: absolute;
  top: 600px;
}
.linktotop:hover {
  animation: jump 1s;
}
.sticky {
  position: fixed;
  top: 20px;
}
.sticky + .content {
  padding-top: 60px;
}
.header-imgs-container {
  display: flex;
  align-items: center;
  height: 500px;
}
.left-header-box {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.profile-background {
  height: 280px;
  width: 280px;
  position: absolute;
  right: -30px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}
.profile-img {
  background-image: url(./assets/profile_photo.jpg);
  background-size: cover;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  overflow: hidden;
  background-position-x: -35px;
}
.colored-container {
  width: 70%;
  background-color: rgba(207, 145, 31, 0.5);
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  box-shadow: 5px 5px 20px 3px rgba(238, 238, 238, 0.733);
  z-index: 3;
}
nav {
  display: flex;
  width: 100%;
  height: 90px;
  margin: 0 auto 0 auto;
  justify-content: space-around;
  background: linear-gradient(to top, transparent, #ffffff44, transparent);
  padding: 10px 15% 10px 15%;
  box-sizing: border-box;
}
nav > a {
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
  text-decoration: none;
}
nav > a >  div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: white;
  width: 55px;
  height: 55px;
  color: var(--primary-color);
  border-radius: 50%;
  border-top-color: var(--primary-transparent-color);
  font-weight: bold;
  animation: shrink .7s;
}
nav > a > div:hover {
  background-color: var(--primary-color);
  color: white;
  border: 5px solid white;
  cursor: pointer;
  transform: scale(1.3) translateY(-10px);
  font-weight: normal;
  animation: grow .7s;
}
.background-img {
  background-size: contain;
  background-repeat: no-repeat;
  width: 80%;
}
.header-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-top: 10%;
  margin-right: 15%;
}
.jordan-bush {
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -6px;
}
.title {
  font-size: 50px;
  font-family: 'Playfair Display', sans-serif;
  margin: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}
.contact-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  color: var(--primary-transparent-color);
  margin-top: 30px;
}
.label {
  font-weight: bold;
  font-size: 20px;
}
.contact-info {
  margin: 3px;
  border-radius: 20px;
  padding: 6px;
  background-color: white;
  border: 1px solid transparent;
  height: 20px;
}
.contact-info:hover {
  background-color: var(--primary-color);
  color: white;
  border: 2px solid white;
}
.contact-info-container span {
  margin: 5px;
}
.contact-info-container a {
  text-decoration: none;
  color: var(--primary-transparent-color);
  font-weight: normal;
}
main {
  width: 100%;
  margin-top: 20px;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  line-height: 25px;
}
.intro-container > * {
  width: 50%;
}
.intro-content> h1 {
  text-align: center;
  font-size: 30px;
}
.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-container > div {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.skill {
  background-color: white;
  border: 10px  solid white;
  border-radius: 50%;
  margin: 25px;
  padding: 5px;
  box-shadow: 0 0 20px 3px var(--primary-transparent-color);
  position: relative;
}
.skill-description {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  color: transparent;
  font-weight: bold;
  font-size: 20px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill-description:hover {
  background-color: rgba(207, 145, 31, 0.952);
  color: black;
  animation: skill-roll-on-hover .7s;
}
#massive {
  width: 60px;
  height: 63px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill:hover {
  box-shadow: 0 0 30px 10px var(--primary-transparent-color);
}
svg {
  background-color: white;
  padding: 10px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
.projects-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.project-container {
  overflow: hidden;
  border-radius: 15px;
  border: 3px solid black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  position: relative;
}
.project-container > img {
  height: 400px;
}
.project-description {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: transparent;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  font-family: 'Playfair Display';
}
.project-title {
  font-size: 30px;
  font-family: 'Playfair Display', sans-serif;
  margin: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  text-shadow: 1px 2px black;
}
.project-description:hover {
  background-color: rgba(207, 145, 31, 0.8);
  color: black;
}
.project-description span {
  font-style: italic;
  margin: 10px;
}
footer {
  width: 100%;
  height: 50px;
  background-color: var(--primary-transparent-color);
  margin-top: 20px;
  display: flex;
  align-items: center;
  font-style: italic;
}
footer > div {
  width: 80%;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
}





@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3) translateY(-10px);
  }
}
@keyframes shrink {
  0% {
    transform: scale(1.3) translateY(-10px);
    background-color: var(--primary-color);
    border: 5px solid white;
  }
  15% {
    transform: scale(1.3) translateY(-10px);
    background-color: var(--primary-color);
    border: 5px solid white;
  }
  100% {
    transform: scale(1);
    background-color: white;
    border: none;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(-5px);
  }
  90% {
    transform: translateY(0px);
  }
  97% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes skill-roll-on-hover {
  0% {
    background-color: transparent;
    color: transparent;
  }
  100% {
    background-color: rgba(207, 145, 31, 0.952);
    color: black;
    transform: rotate(360deg);
  }
}